* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 20px;
    text-align: center;
  
    user-select: none;
  }

  #box {
    position: relative;
  
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  
    font-family: Roboto,Segoe UI,"Tahoma, sans-serif";
  
    border: 1px solid black;
  }

  #box > div {
    width: 100px;
    height: 100px;
    padding-top: 25px;
  
    border-collapse: collapse;
    font-size: 30px;
    text-align: center;
  
    background-color: #c9c9c9;
    border: solid 1px gray;
    transform: translateX(0px);
    transform: translateY(0px);
    cursor: pointer;
  
    transition: transform 0.1s linear;
  }

  button {
    position: relative;
    z-index: 100;
  
    height: 40px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 10px;
  
    font-size: 18px;
    text-transform: uppercase;
  
    background-color: rgb(129, 215, 255);
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 50px rgb(129, 215, 255);
    cursor: pointer;
  
    transition: background 0.3s, box-shadow 0.3s linear;
  }
  
  button:hover {
    background-color: rgb(68, 180, 231);
    box-shadow: 0 0 50px rgb(20, 178, 252);
  }

  #change-size {
    margin-top: 20px;
  }

  #change-size > span {
    position: relative;
    z-index: 990;
  display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 5px;
  
    background-color: rgb(238, 238, 238);
    border: 2px solid black;
    border-radius: 30%;
    cursor: pointer;
  }